<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sign up for our Business Location Recommendation System, leveraging location intelligence for optimal business locations.">
    <meta name="keywords" content="business location, location intelligence, location analytics, google maps, recommendations, business location recommendation system, situated, position, area, platform">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Philipp Amana">
    <title>Spointed by Philipp</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='ico/logo.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <header>
        <div class="container">
            <img src="{{ url_for('static', filename='logo/blrs.png') }}" alt="BLRS Logo" class="logo-img">
            <h1 class="logo">Spointed by Philipp</h1>
            <div class="hamburger-menu" id="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <nav id="menu" class="menu">
                <ul class="nav-links">
                    <li><a href="details.html">DETAILS</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="learn.html">LEARN MORE</a></li>
                    <li><a href="contact-us.html">CONTACT US</a></li>
                    <li><a href="support.html">SUPPORT</a></li>
                    <li><a href="features.html">FEATURES</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="home" class="hero-section">
        <div class="container" style="position: relative; text-align: center; color: #fff;">
            <div class="hero-content" style="background: rgba(0, 0, 0, 0.6); padding: 20px; border-radius: 10px; display: inline-block;">
                <h2 style="font-size: 2rem; font-weight: bold;">Find the Optimal Location for Your Business</h2>
                <p style="font-size: 1.2rem; font-weight: bold;">Spointed: a recommendation system that help you find the optimal location to set up your restaurant business operations, while being tailored to your unique needs and preferences in the restaurant industry.</p>
                <a href="learn.html" style="display: inline-block; background-color: #ffffff; color: #000080; padding: 10px 20px; text-decoration: none; font-weight: bold; border-radius: 5px;">Learn More</a>
            </div>
        </div>
    </section>
    <section id="features" class="features-section">
        <div class="container">
            <h2>Features</h2>
            <div class="features-grid">
                <div class="feature-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <h3>Personalized Recommendations</h3>
                    <p>Receive a location recommendation based on your budget.</p>
                </div>
                <div class="feature-item">
                    <i class="fas fa-chart-line"></i>
                    <h3>Data-Driven Insights</h3>
                    <p>Make informed decisions with insights based on real data and analysis.</p>
                </div>
                <div class="feature-item">
                    <i class="fas fa-search"></i>
                    <h3>Comprehensive Search</h3>
                    <p>Explore a wide range of locations to find the optimal spot to set up your restaurant business operations.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="how-it-works" class="how-it-works-section">
        <div class="container">
            <h2>How It Works</h2>
            <div class="how-it-works-grid">
                <div class="step">
                    <i class="fas fa-user"></i>
                    <h3>Step 1: Sign Up</h3>
                    <p>Create an account and provide the required details needed about your restaurant business.</p>
                </div>
                <div class="step">
                    <i class="fas fa-th-list"></i>
                    <h3>Step 2: Set Preferences</h3>
                    <p>Input your business details and set your budget.</p>
                </div>
                <div class="step">
                    <i class="fas fa-check"></i>
                    <h3>Step 3: Get Recommendations</h3>
                    <p>Receive tailored location recommendations and choose the most optimal location for you.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about-section">
        <div class="container">
            <h2>About</h2>
            <div class="developer-info">
                <img src="{{ url_for('static', filename='img/philippamana.jpg') }}" alt="Philipp Amana" class="developer-photo">
                <div>
                    <h3>Developer</h3>
                    <p><strong>Philipp Amana</strong> is the developer behind <strong>Spointed</strong>. With a simple background in Software Architecture, and the little desire to understand Data Science, Artificial Intelligence and Machine Learning capabilities as well as how these can be utilised in solving real life problems in the world with sustainable technology while leveraging technology skills, experience and clarity plus the passion to learn and solve real-world challenges; Philipp decided to work on an idea (Restaurant's Business Location Recommendation System) and form it into a system for aspiring restaurant owners. The approach of the system ensures that aspiring or existing restaurant owners find the optimal location for setting up their business operations, fostering success and growth in a desired and beneficial market.</p>
                </div>
            </div>
            <div class="app-description">
                <img src="{{ url_for('static', filename='logo/blrs.jpg') }}" height="100" width="100" alt="Situated" class="app-photo">
                <div>
                    <h3>App</h3>
                    <p><strong>Spointed</strong> is a Restaurant's Business Location Recommendation System designed to provide a personalized location based on the provided insights, whether you're starting a new restaurant business or looking to expand, Spointed help you find the optimal location to match your restaurant needs based on your budget. The model combines comprehensive search capabilities with simpler analytics to ensure that you make the required decision-making process about setting up your restaurant's business operations in the optimal location.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="contact-section">
        <div class="container">
            <h2>Contact Us</h2>
            <form id="contact-form" method="POST" action="contact.php">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="John Set" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="johnset@gmail.com" required>
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" placeholder="I'm Interested to try out your system." required></textarea>
                </div>
                <button type="submit" class="btn">Send Message</button>
            </form>
        </div>
    </section>
    <footer class="footer-bottom">
        <div class="container">
            <img src="{{ url_for('static', filename='logo/blrs.png') }}" height="30" width="30" alt="Situated Logo" class="footer-logo">
            <p>&copy; 2024 Spointed by Philipp Amana</p>
            <p>All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
